<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edlFile</key>
	<string>/Users/Lydi/RealTimeProject/DynamicDesign/EyeTrackerIAPS/ScenarioForBART/myNewScenario.edl</string>
	<key>dataSetForTest</key>
	<string>/Users/Lydi/Development/BART_lydiatgit/tests/BARTMainAppTests/testfiles/TestDataset02-functional.nii</string>
</dict>
</plist>
