<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edlFile</key>
	<string>/Volumes/LionOS/Users/Lydi/RealTimeProject/DemoDynamicDesign/DynamicDesignTest_EmoRegAssignAndConstraints/Misc/SimulationWithPreproc/dynamicDesign_DEMO_RegAssignsAndConstraints_Simulation.edl</string>
	<key>dataSetForTest</key>
	<string>/Volumes/LionOS/Users/Lydi/RealTimeProject/DemoDynamicDesign/DynamicDesignTest_EmoRegAssignAndConstraints/Misc/SimulationWOPreproc/data_justSiemensMoco.nii</string>
	<key>UseLuigi</key>
	<string>NO</string>
	<key>treeFile</key>
	<string>/Users/torsten/Development/BartGUI/BART/src/BARTMainApp/AnalysisTest001TreeDescription.xml</string>
</dict>
</plist>
