<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edlFile</key>
	<string>/Users/torsten/Development/BartGUI/BART/tests/NEDTests/timeBasedRegressorNEDTest.edl</string>
	<key>dataSetForTest</key>
	<string>/Users/torsten/Development/BartGUI/BART/tests/BARTMainAppTests/testfiles/TestDataset02-functional.nii</string>
	<key>UseLuigi</key>
	<string>YES</string>
	<key>treeFile</key>
	<string>/Users/torsten/Development/BartGUI/BART/src/BARTMainApp/AnalysisTest001TreeDescription.xml</string>
</dict>
</plist>
