{
	"CFBundleShortVersionString" = "1.0";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundleIconFile = "";
	CFBundleSignature = "????";
	"LSMinimumSystemVersion" = "${MACOSX_DEPLOYMENT_TARGET}";
	CFBundleVersion = 1;
	NSPrincipalClass = NSApplication;
	NSMainNibFile = GUIPrototyp;
	CFBundlePackageType = APPL;
	CFBundleName = "${PRODUCT_NAME}";
	CFBundleIdentifier = "com.yourcompany.${PRODUCT_NAME:rfc1034identifier}";
	CFBundleExecutable = "${EXECUTABLE_NAME}";
	"CFBundleDevelopmentRegion" = English;
}