<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RelevantBytes</key>
	<integer>12</integer>
	<key>ByteMeaning</key>
	<array>
		<string>Status</string>
		<string>PupilDiameterHSB</string>
		<string>PupilDiameterLSB</string>
		<string>CorneaDiameterHSB</string>
		<string>CorneaDiameterLSB</string>
		<string>Mysterious</string>
		<string>HorizontalGazeHSB</string>
		<string>Overflow1</string>
		<string>HorizontalGazeLSB</string>
		<string>VerticalGazeHSB</string>
		<string>VerticalGazeLSB</string>
		<string>Overflow2</string>
	</array>
	<key>StartValue</key>
	<integer>128</integer>
	<key>Limits</key>
	<string>test</string>
	<key>validDistanceX</key>
	<integer>30</integer>
	<key>validDistanceY</key>
	<integer>30</integer>
	<key>FixationDependsOnScreenCenter</key>
	<true/>
	<key>sampleRate</key>
	<integer>120</integer>
	<key>FixationDependsOnPointX</key>
	<integer>130</integer>
	<key>FixationDependsOnPointY</key>
	<integer>120</integer>
	<key>durationThresholdForFixation</key>
	<integer>200</integer>
	<key>visualAngleValidForFixation</key>
	<integer>1</integer>
	<key>distEyeFromScreen</key>
	<real>102.5</real>
	<key>heightScreen</key>
	<integer>24</integer>
	<key>scenePOGResolutionWidthInPoints</key>
	<integer>260</integer>
	<key>scenePOGResolutionHeightInPoints</key>
	<integer>240</integer>
	<key>maxNumberOfMissingValuesForFixation</key>
	<integer>3</integer>
	<key>portParameters</key>
	<dict>
		<key>pathToDevice</key>
		<string>/dev/cu.usbserial-FTDWE6HC</string>
		<key>useOddParity</key>
		<false/>
		<key>enableParity</key>
		<false/>
		<key>baudRate</key>
		<integer>57600</integer>
		<key>isSerialPort</key>
		<true/>
		<key>useBits</key>
		<integer>8</integer>
		<key>deviceDescription</key>
		<string>de.mpg.de.ASLEyetracker</string>
	</dict>
</dict>
</plist>
